
body{
	background:aliceblue;
}


/* navigation style-starts here */
a{
	text-decoration:none !important;
}

.navigation {
  height: 71px;
  position:fixed;
  top:0;
  background:white;
  width:100%;
  z-index:16;
  border-bottom: 1px solid #AFAFAF;
 /* background: #262626;  */
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  top:6px;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a, .brand a:visited {
/*  color: #fff;  */
  text-decoration: none;
}
.nav-container {
  max-width: 1385px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a, nav ul li a:visited {
  display: block;
  padding: 0 20px;
  font-size:16px;
  line-height: 70px;
  background: white;
text-align: center;  
  color: #2F87B8;
  font-weight:bold;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:visited:hover {
  /* background: #2581dc; */
  border-top:1px solid #8e8e8e;
  border-bottom:1px solid #8e8e8e;
  color: #8e8e8e;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
 /* background: #262626; */
    
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: gray;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/* navigation style-ends here */





/* banner section style-starts here */

.top-section {
    margin-top: 71px;
    background-image: url(../image/slider11.jpg);
    background-size: cover;
	height:400px;
}





.options {
    position: relative;
    min-width: 300px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    text-align: center;
    display: flex;
    border: 5px solid #F4F6F7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.option {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;    

}

.option-1 {
    color: #fff;
}

.slider {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 50%;
    background: red;
    z-index: 1;
    border-radius: 50px;
    -webkit-transition: .4s;
    transition: .4s;
}

.options {
    position: relative;
    min-width: 375px;
    height: 67px;
    border-radius: 50px;
    background: #fff;
    text-align: center;
    display: inline-flex;
    border: 5px solid #F4F6F7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.option {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;    

}

.option-1 {
    color: #fff;
}

.slider {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 50%;
    background: royalblue;
    z-index: 1;
    border-radius: 50px;
    -webkit-transition: .4s;
    transition: .4s;
}



.test{
	
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  letter-spacing:1px;
  font-size:20px;
  
}

@media only screen and (max-width:769px)
{
	.banner-top-form{margin-top:-13px;}
	.options{min-width: 312px; height: 50px;}
	#usr{    height: 50px !important; width: 312px !important; margin-top: 10px;}
	.banner-first-input{text-align:center !important;}
	.banner-top-form .fas {font-size:17px !important; top:16px !important;}
	.banner-top-heading h1{ font-size:27px;}
	.top-section{height: 317px;}
	.iam{font-size:31px !important;}
}


@media only screen and (min-width:769px)
{
.banner-top-form{}
.banner-top-heading h1{margin-top: 90px;}


}

/* banner section style-ends here */






 /* Tutors According to Subjects section-starts here */
 
 .icon-text1{
	 font-size:20px;
	 margin: 20px;
 }

 .tab-contents {
    padding: 1.5em 0em 1em;
   /* border: 1px solid #ddd; */
}
          @media only screen and (max-width:600px)
		  {
			  .subjects li{
				  font-size:13px !important;
				      padding: 12px 0px 12px 0px !important;
			  }
		  }		  
       .subjects li {
           padding:20px 0px 20px 0px;
           list-style-type:none;
           font-size: 16px;
           
           border-bottom: 1px solid gainsboro;
                
            }   
		
        .subjects li:last-child{
            border-bottom:none;
        }
                   
            .subjects li a{
                color: #337ab7;
                font-weight: 700;
            }
            
            .subjects li a:hover{
                color: black;
            }
         @media only screen and (max-width:769px)
		 {
      .tuition-subject h1{
		   font-size:25px;
	  }  
		 }
		 
		 .pointz a {
			 color:black;
		 }
	  .pointz a:hover{
		  
		  color:blue;
	  }
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*  *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100vh;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font: 9.33333px 'Open Sans', sans-serif;
  color: #345;
  background: #f0f2f4;
} */
p:not(:last-child) {
  margin: 0 0 20px;
}
main {
/*  max-width: 800px; */
  padding: 40px;
/*  border: 1px solid rgba(0, 0, 0, .2); */
  /* background: linear-gradient(rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.69)), url(image/icon1.jpg); 
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1); */
}
#content1,#content2,#content3 {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
  border-left: 1px solid #abc;
  border-right: 1px solid #abc;
  border-bottom: 1px solid #abc;
}
input {
  display: none;
}
label {
	background: #8e8e8e;
  display: inline-block;
  margin: 0 -1px -1px;
  padding: 15px 299px;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 1px solid transparent;
}
/*
label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
label[for*='1']:before {
  content: '\f1cb';
}
label[for*='2']:before {
  content: '\f17d';
}
label[for*='3']:before {
  content: '\f16c';
}
label[for*='4']:before {
  content: '\f171';
}

*/
label:hover {
	background:#0065B3;
  color: white;
  cursor: pointer;
}
input:checked + label {
	    background: #0065B3;
  color: white;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
  display: block;
}
@media screen and (max-width: 800px) {
  label {
   /* font-size: 0; */
  }
  main{padding:0px;}
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}

	  
	  
	  
	  
         /* Tutors According to Subjects section-ends here */


/* How it Works section-starts here */

.works-arrow{
	color: dodgerblue;
    position: absolute;
    top: 50px;
    font-size: 26px;
}

.hiw_student{
	margin-top: 30px;
}

.section1{margin-top: 80px;}

.steps{
		display:none;
	    position: absolute;
    top: -50px;
    left: 172px;
    font-weight: bold;
    font-size: 18px;
    height: 30px;
    text-align: center;
    width: 30px;
    border: 2px solid gray;
    border-radius: 50%;
	
}


@media only screen and (max-width:769px)
{
	.steps{display:none;}
	.works-arrow{display:none;}
	.hiw_student h1{font-size:25px;}
	.section1 h3{font-size:20px;}
}
/* How it Works section-ends here */


/*   GharPeShiksha stats section starts here */


.counter-value {
    color: darkblue;
    font-size:30px;
    text-align: center;
    padding: 30px;
    padding-bottom: 0px;
}

.statistics{
 /*	background:#A6D2EC;  */
}

@media only screen and (max-width:769px)
{
	.counter-value{font-size:25px; padding:0px;}
}

/*   GharPeShiksha stats section ends here */




   /* scroller animation-starts here */ 
        
     #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #8CC0F6;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #8CC0F6;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
      
     /* scroller animation-ends here */  




/* testimonial section starts here */

#tcb-testimonial-carousel {
  margin-top: 30px;
}
#tcb-testimonial-carousel a {
  color: #b20000;
}
#tcb-testimonial-carousel .text-brand {
  color: #b20000;
}
#tcb-testimonial-carousel .carousel-indicators .active {
  background: #337AB7;
}
#tcb-testimonial-carousel .no-margin {
  margin: 0;
}
#tcb-testimonial-carousel .carousel-indicators li {
  border: 1px solid #ccc;
}
#tcb-testimonial-carousel .carousel-control {
  color: #337AB7;
  width: 5%;
}
#tcb-testimonial-carousel .carousel-control:hover,
#tcb-testimonial-carousel .carousel-control:focus {
  color: #b20000;
}
#tcb-testimonial-carousel .carousel-control.left,
#tcb-testimonial-carousel .carousel-control.right {
  background-image: none;
}
#tcb-testimonial-carousel .item {
  padding: 65px 50px;
 /* background: #f8f8f8; */
}
#tcb-testimonial-carousel .media-object {
  margin: auto;
      border-radius: 50%;
}
@media screen and (max-width: 768px) {
  #tcb-testimonial-carousel .media-object {
    margin-bottom: 15px;
  }

  .student-says h1{font-size:25px;}
  .carousel-inner { margin-top:-65px;}
}
@media only screen and (min-width:769px)
{
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	    margin-top: 35px;
}

 #tcb-testimonial-carousel .media-object{
		      width: 460px !important; 
			  height: 200px !important;
	  }

	}
	
	.caption p{
		font-size:17px;
	}

/* testimonial section ends here */


/* register as tutor section- starts here */

.register-tutor h1{
	font-weight:bold;
	
}

@media only screen and (max-width:769px){
.register-tutor-heading{font-size:25px !important;}
.register-tutor-heading1{font-size:15px !important;}
.register-tutor .col-lg-2{margin-top:30px;}
}
/* register as tutor section- ends here */



/*   footer section starts here  */

.fab{
	line-height:2 !important;
}
.bg-footer {
    background-color: #43C0F6;
    padding: 50px 0 30px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: white;
    line-height: 40px;
    font-size: 15px;
    transition: all 0.5s;
}

.footer-link a:hover {
    
	text-decoration:underline !important;
}

.contact-info {
    color: white;
    font-size: 15px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: white;
	font-size:15px;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
	font-weight:bold;
	font-size:18px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid black;
}


@media only screen and (max-width:769px){
	.footer-heading {font-size:12px;}
	#quick_links, #by_area, #by_zone{    border-bottom: 1px solid white;}
.footer-address{text-align:center;}
.footer-heading:after{display:none;}
#panel,#panel1,#panel2{display:none;}

}

@media only screen and (min-width:769px)
{
	#panel,#panel1,#panel2{display:block !important;}
	.link-dropdown{display:none !important;}
}

.link-dropdown{
	position:absolute;
	top: 12px;
    right: 30px;
}

/*   footer section ends here  */
