body{
    overflow-x:hidden;
    margin-top:5px;
    padding-right: 0px !important;
     background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url('../image/icon1.jpg');
    }
/* Navigation styling-starts here */
.navbar-wrapper{
    padding:0em; 
    line-height: 50px;
            }

.dropdown{
    float:right;
}
.dropdown img{
    margin:auto; 
    display:unset;
    border-radius:30px;
        }

.dropdown-menu{
    left: -91px; 
    font-weight: bold;
            }
.dropdown-header{
    font-size:17px;
}


.dropdown-menu > li > a:hover{
            background: dodgerblue;
            color:white;
        }



.dashboard > li:nth-child(3) {
		background: dodgerblue;
		color:white;
		}
.require > li:nth-child(4) {
		background: dodgerblue;
		color:white;
	}		
 .setting > li:nth-child(6) {
		background: dodgerblue;
		color:white;
	}

/* Navigation styling-ends here */


/* student-top-icons section-starts here */

.header-icons{
 margin-top:52px;   
                }


.student_top_icon_section{
                        margin-top: 10px;
                        padding:1px; 
						margin-bottom:-16px;
                        background-image:url('../image/bluevector.jpg');
    
                        }

.student_top_icon_section ul.icon_holder_main, .video_upload_section {
    text-align: center;
}
        
        
        ul.icon_holder_main {
    margin: 0 0 20px;
    padding: 0;
    display: block;
    overflow: hidden;
    text-align: center;
}
        .student_top_icon_section ul.icon_holder_main li {
    width: 248px;
    margin: 0 16px 0 0;
    display: inline-block;
    float: none;
}
        ul.icon_holder_main li {
    background: #fff;
    display: block;
    margin: 0 2.5% 0 0;
    padding: 0;
    width: 23%;
    box-sizing: border-box;
    float: left;
    /*border: 1px solid #cdcdcd; */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
      .student_top_icon_section ul.icon_holder_main li .iconholder {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
        
        
        ul.icon_holder_main li .iconholder {
    margin: 0;
    padding: 0%;
    display: block;
    text-align: center;
    float: left;
    width: 70px;
    height: 60px;
    line-height: 30px;
    font-size: 32px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border-right: 1px solid #dddbdb;
}
        .student_top_icon_section ul.icon_holder_main li .txt_holder {
    width: 189px;
    float: none;
    display: table-cell;
    vertical-align: middle;
}
        ul.icon_holder_main li .txt_holder {
    margin: 0;
    padding: 15px 10px;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    float: left;
    width: 135px;
}
        
        ul.icon_holder_main li .blue, ul.icon_holder_main li .dark, ul.icon_holder_main li .green, ul.icon_holder_main li .orange, ul.icon_holder_main li .red {
    background: #fff;
    background: -moz-radial-gradient(center,ellipse cover,#fff 0,#f4f4f4 100%);
    background: -webkit-radial-gradient(center,ellipse cover,#fff 0,#f4f4f4 100%);
    background: radial-gradient(ellipse at center,#fff 0,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=1 );
    color: dodgerblue;
    font-weight: 300;
}
       ul.icon_holder_main li .iconholder i {
    font-weight: 300;
}
        .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
        .fa, .fa-stack {
    display: inline-block;
}


/* student-top-icons section-ends here */




/* Matching and responded tutor section starts here */



.custom-width1 h3{
                        letter-spacing: 3px;
                        word-spacing: 10px;
                        
                        }


.nav-tabs >li{
   font-weight:bold;
            }
#scrollable-div{
                overflow-y:scroll;
                height: 920px;
                overflow-x: hidden;
                border-left:2px solid #ddd;
                border-bottom:2px solid #ddd; 
                background:#c7dcde;
    
                }
  
.brd-box{
            border:1px solid gray;
            padding: 9px 20px; 
            margin:25px;
            background-image:url('../image/courses_background.jpg');
            box-shadow: 1px 2px 14px 3px #888888;
        }
.image-cent1 img{
                margin:auto; 
                border-radius: 8px;
                    }
 .list li{
            padding:10px;
            text-align: left;
        }

.list-styling .fa-location-arrow{
                            font-size:25px; 
                            color:deepskyblue;
                                }


.brd-box .btn-primary{
    margin-bottom: 10px; 
    font-size:16px;
    padding:10px; 
}

 /* width */
#scrollable-div::-webkit-scrollbar {
  width: 20px;
}

/* Track */
#scrollable-div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#scrollable-div::-webkit-scrollbar-thumb {
  background: darkgray; 
  border-radius: 10px;
}

/* Handle on hover */
#scrollable-div::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

.nearby{
    margin-top:80px;
    padding: 12px;
    background-image:url('../image/gradient3.jpg'); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    
}
.form-teacher-search{
    margin: 25px 72px 55px 72px;
}

.post-new-requirment{
    margin-top:40px;
}

.post-new-requirment h3{
     padding: 20px;
    font-weight: 500; 
    }
.post-new-requirment .btn-primary {
                    margin-bottom: 10px;
                    font-size: 20px;
                    padding: 6px 23px;
                    border-radius: 18px;
                        }




/* Matching and responded tutor section ends here */




/* Media Queries starts here */


@media screen and (min-width:960px){
			.icon_holder_main{margin-left:70px !important;}
}

@media screen and (min-width:768px){
            .modal-sm{width:600px !important;}
        }
        
        @media screen and (max-width:768px){
            .modal-sm{width: 300px;}
        }    
        



@media screen and (max-width:769px){
            .formwid{
            margin: 25px 72px 0px 72px !important;
            }
        }
        
        
        
        
        
        
       @media screen and (min-width: 960px) {
  .student_top_icon_section ul.icon_holder_main li {
    margin: 18px 80px 0 0 !important;
      }
        }  
 @media screen and (max-width: 769px) {
  .image-cent {
   display:none;
      }
     .student_top_icon_section ul.icon_holder_main li{
             margin: 5px 0px 5px 0px !important;
     }
        }        
        
       @media screen and (max-width: 600px) {
  .tutor-list {
    margin: 20px auto !important;
      }
           .getContact{
               text-align: -webkit-center;
           }           
        }   
        
          @media screen and (max-width: 420px) {
  #scrollable-div {
    height: 650px !important;
      }
        }  
        
        
  @media screen and (min-width: 1200px) {
  .custom-width {
    width: 80% !important;
      }
        }        
        
    
        
        @media screen and(max-width:600px){
            .listmargin{
                margin-left:0px ;
            }
        }
        
        @media screen and(min-width:1200px){
         .listmargin{
             margin-left:28px ;
            }   
        
        }

        @media screen and (max-width:769px){
            .brd-box{
                padding: 0px !important;
                margin: 0px !important;
                margin-top:10px !important;
            }
        }
        
		  @media screen and (min-width: 1200px) {
  .list li {
    padding: 20px !important;
      }
        }   

@media screen and (min-width:1200px){
   .posted {
   text-align:right;}
   .responded {
   text-align:left;}
   .closed {
   text-align:left;}
   }     
      
@media screen and (min-width:1200px){
.borderneeded{
border-bottom: 2px solid darkgray;
}
.marginneeded{
margin-top:40px;
}
}

@media screen and (max-width:1200px)	{
.mobileview{border-bottom:2px solid darkgrey;}
.posted{margin-top:40px;}
}  
   
  @media screen and (max-width:767px)      
        {
        .table-responsive{
            border:none !important;
			margin-left: -38px !important;
        }  
        
        }


 @media screen and (max-width:769px){
            .namecol h4{margin-left:48px;}
        }  
        
        
        
        
        
	 @media screen and (max-width:767px)      
        {
        .icon-tab{
            padding-right:0px !important;
			padding-left: 0px !important;
        }
            .namecol h2{text-align: center;}
      }
        
	
        @media screen and (max-width:767px){
            .flex-container{
                flex-wrap:wrap;
                justify-content: center !important;
                margin-top: 10px;
            }
        }
        
	@media screen and (min-width: 1200px) {
  
     .flex-container{margin-top: 38px;}    
        }
        
        @media screen and (max-width:767px){
            .experience{margin-top: 50px;}
           
            }
			.flex-container>div{font-size:20px;}	  
        }

   

/* Media Queries ends here */




        .tutor-list tr td{
            padding:8px;
        }  
        
        
        
        
    
        
    
       
    
        .btn-default{
            border:none !important;
            border-radius: 40px;
        } 
        
		
   
        .form-group input[type= submit]:hover{
            background-color: none;
            border-color:none;
        }        
        
      
       
        
        
 

        #btn-change{
            margin-left: 25px;
        }

        .paddingneeded{
padding:0px 0px 10px 20px;
}
.badge{
font-size:90%;
background:indianred;
border-radius:2.25rem;
vertical-align:super;
}
        
        
  .close-btn{
           opacity: 0.3;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
            pointer-events: none;
        }
        
        
        .repost-btn{
         transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
         .blur-div{
            position: relative;
        }
         
          a:hover, a:focus{
            text-decoration: none !important;
        }   
        
      
        .modal-header .close{
            margin-top: -42px;
        }  
              
        
       
        
        
        
        
       /* scroller animation-starts here */ 
        
     #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #8CC0F6;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #8CC0F6;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
      
     /* scroller animation-ends here */  




        
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
            background-color: #c7dcde; 
        }     
        
        
      .table-responsive td{padding:20px;}
        
        #pswd-section{
                margin-top: 30px;
    margin-bottom: 20px;
            display:none;
        }
        
		
.flex-container{
	margin-bottom:10px;
	display:flex;
	justify-content: space-between;
	}
	.flex-container>div{
	}
	
        
        
        

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		