    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>



   


    <section class="user-profile">







        <%int pagenum=Integer.parseInt(request.getParameter("pagenum"));
                    %>

            <%  
ofy().clear();
List<Lead> leads=ofy().load().type(Lead.class).order("-enq_id").offset((pagenum-1)*100).limit(100).list();
Iterator<Lead> itr=leads.iterator();
//TutorServices ts=ofy().load().type(TutorServices.class).id(((Long)session.getAttribute("tutor")).longValue()).now();
//TutorDetail tutor=ofy().load().type(TutorDetail.class).id(((Long)session.getAttribute("tutor")).longValue()).now();				 						
//Plans pl=ofy().load().type(Plans.class).filter("tutor", Ref.create(tutor)).first().now();



%>



                <div class=" col-xs-12 col-sm-12 col-md-12" style="padding-right: 25px;">


                    <%  while (itr.hasNext()) {
				Lead ld = itr.next(); 
				long currenttime = System.currentTimeMillis();
				long enqtime   = currenttime-ld.getTimestamp();
				long posttime = 0;
				
				
				if (enqtime <3600000) {
					 posttime = (enqtime/60000);
					
				}
				else if ((enqtime>=3600000) && (enqtime<86400000)) {
					
					 posttime = (enqtime/3600000);
				}
				
				else {
					
					 posttime = (enqtime/86400000);
				}
				
				
				%>


                        <div class="col8-back-colr">

                            <div class="brd-box" style="border: 1px solid #cecece; padding: 20px 20px;">

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <b style="font-weight: 700;"> Tutor Requirement for
                                            <%= ld.getSubject() %> in
                                                <%= ld.getCls() %>
                                        </b>
                                    </div>

                                </div>
                                <p class="enq-desc" style="color: #736a6a;font-size: 90.5%;">Posted
                                    <%=enqtime %> | ENQ ID:
                                        <%= ld.getEnq_id() %>
                                </p>
                                <br>




                                <div>
                                    <b>Area/Pincode:</b> Uttam Nagar Mohan Garden Navada, Near Metro Station Delhi-110085 </div>

                                <div>
                                    <b>Approx. Parents Budget: </b>
                                    <%= ld.getFees() %>
                                </div>

                                <table class="table-responsive" style="border:none;">
                                    <tr>
                                        <td>
                                            <b>Posted By:</b>
                                        </td>
                                        <td>
                                            <span style="font-size:85%;">
                                                <%= ld.getName() %>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Gender Preference:</b>
                                        </td>
                                        <td>
                                            <span style="font-size:85%;">
                                                <%= ld.getSex_pref() %>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>When Parents will Start:</b>
                                        </td>
                                        <td>
                                            <span style="font-size:85%;">
                                                <%= ld.getStart_time() %>
                                            </span>
                                        </td>
                                    </tr>

                                </table>
                                <!--  Styling for modal start -->
                                <style>
                                    .no-break {
                                        white-space: nowrap;
                                    }

                                    .glyphicon-ok {
                                        color: green;
                                    }
                                </style>



                                                                <div>
                                    <b>Parents Message: </b>
                                    <%= ld.getParentsrequirements() %>
                                </div>
                                <br>

                                <div>
                                    <b>Total Views:</b>
                                    <%if(ld.getViewed_by()!=null){  %>
                                        <%=ld.getViewed_by().size()%> Views
                                            <%}   else{ %> Be the first One to get details
                                                <%} %>
                                </div>

                            </div>

                            <div style="border-right: 1px solid #cecece; 
                 border-left: 1px solid #cecece;  border-bottom: 1px solid #cecece;
                  padding: 10px;">
                                <div class="row">
                                    <div class="col-md-6">

                                        <button class="btn " style="background-color: #00bcd4; color: white;margin-top: -15px;" data-target="#plans" data-toggle="modal"
                                            href="#plans">Apply &amp; Get Details</button>
                                        <a href="whatsapp://send?text=http://webdevelopmentscripts.com" data-toggle="tooltip" title="share on whatsapp">
                                            <i class="fab fa-whatsapp fa-2x text-success" style="margin-left: 7px; color:#25d366"></i>
                                        </a>
                                        <div class="fb-share-button" style="display:inline;margin-left: 7px;" data-href="https://developers.facebook.com/docs/plugins/"
                                            data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://gharpeshiksha.com" data-toggle="tooltip" title="Share on facebook">
                                                <i class="fab fa-facebook-square fa-2x"> </i>
                                            </a>
                                        </div>

                                        <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
                                            target="_blank" data-toggle="tooltip" title="Share on Twitter">
                                            <i class="fab fa-twitter fa-2x" style="margin-left: 7px;color: #00bcd4;"> </i>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#emailModal" target="_blank" data-toggle="tooltip" title="Share via email">
                                            <i class="fas fa-envelope fa-2x text-dark" style="margin-left: 7px;color:grey"></i>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#messageModal" target="_blank" data-toggle="tooltip" title="Share via text message">
                                            <i class="fas fa-mobile fa-2x" style="margin-left: 7px;color:grey; margin-top:5px"></i>
                                        </a>
                                    </div>


                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>

                            <% } %>
                        </div>
                </div>
                <!-- Main row ends here-->


    </section>



                                <!-- Modal -->
                                <div id="plans" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title text-center" style="color:#006e96">
                                                    <img src="../image/view.png" />
                                                </h3>
                                            </div>





                                            <div class="modal-body">
                                                <div class="container">

                                                    <div class="row row-content">
                                                        <div class="col-md-4 no-break text-center">
                                                            <div class="glyphicon glyphicon-ok"></div>Students Contact View</div>
                                                        <div class="col-md-4 no-break text-center">
                                                            <div class="glyphicon glyphicon-ok"></div>No Commission</div>
                                                        <div class="col-md-4 no-break text-center">
                                                            <div class="glyphicon glyphicon-ok"></div>Email,SMS Alerts</div>

                                                    </div>

                                                </div>
                                                <hr>
                                                <br>
                                                <!-- Plans -->
                                                <section id="plans">
                                                    <div class="container">
                                                        <div class="row">

     
                                                            <!-- item -->
                                                            <div class="col-md-4 text-center">
                                                                <div class="panel panel-danger panel-pricing" style="border-color:#b8d7ef;">
                                                                    <div class="panel-heading" style="color:#2d73a8;background:#d5e0e8;border-color:#b8d7ef;">
                                                                         
                                                                        <h3>Bronze Plan</h3>
                                                                    </div>
                                                                    <style>
                                                                        .no-family {}
                                                                    </style>


                                                                    <div class="panel-body text-center">
                                                                        <p>
                                                                                <i class="fas fa-rupee-sign" style="font-size: 26px; color:#337ab7; "></i>      
                                                                            
                                                                            <strong style="color:#337ab7;font-size:32px;   class="no-break no-family;">  3000</strong>
                                                                        </p>
                                                                    </div>
                                                                    <ul class="list-group text-center">
                                                                        <li class="list-group-item">
                                                                            <!-- <i class="fa fa-check"></i> -->
                                                                            20 Student Contact Views</li>
                                                                        <li class="list-group-item">
                                                                            
                                                                            <strong>Validity:</strong> 180 days</li>
                                                                        <li class="list-group-item">
                                                                           
                                                                            <strong>Response:</strong> Standard</li>
                                                                        <li class="list-group-item">
                                                                            <i class=" "></i>-</li>
                                                                        <li class="list-group-item">
                                                                            <i class=" "></i>-</li>
                                                                    </ul>
                                                                    <div class="panel-footer">
                                                                        <a class="btn btn-lg btn-block btn-primary" href="payment.jsp?amt=3000&tut_id=10868">BUY NOW</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /item -->

                                                            <!-- item -->
                                                            <div class="col-md-4 text-center">
                                                                <div class="panel panel-warning panel-pricing">
                                                                    <div class="panel-heading">
                                                                         
                                                                        <h3>Gold Plan</h3>
                                                                    </div>
                                                                    <div class="panel-body text-center">
                                                                        <p>
                                                                                <i class="fas fa-rupee-sign" style="font-size:26px;
                                                                                 color:#f0ad4e;"></i>
                                                                            <strong style="color:#f0ad4e;font-size:32px;" class="no-break">
                                                                             4000</strong>
                                                                        </p>
                                                                    </div>
                                                                    <ul class="list-group text-center">
                                                                        <li class="list-group-item">
                                                                            <!-- <i class="fa fa-check"></i> -->
                                                                            30 Student Contact Views</li>
                                                                        <li class="list-group-item">
                                                                             
                                                                            <strong>Validity:</strong> 180 days</li>
                                                                        <li class="list-group-item">
                                                                                                                                                        <strong>Response:</strong> X 3 times</li>
                                                                        <li class="list-group-item">
                                                                            <!-- <i class="fa fa-check"></i> -->
                                                                            <div class="no-break">
                                                                                <div class="glyphicon glyphicon-ok"></div>Suggested Tutor Tag</div>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <i class=" "></i>-</li>
                                                                    </ul>
                                                                    <div class="panel-footer">
                                                                        <a class="btn btn-lg btn-block btn-warning" href="payment.jsp?amt=4000&tut_id=10868">BUY NOW</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /item -->

                                                            <!-- item -->
                                                            <div class="col-md-4 text-center">
                                                                <div class="panel panel-success panel-pricing">
                                                                    <div class="panel-heading">
                                                                         
                                                                        <h3>Platinum Plan</h3>
                                                                    </div>
                                                                    <div class="panel-body text-center">
                                                                        <p>
                                                                                <i class="fas fa-rupee-sign" style="font-size: 26px; color:#449d44; "></i>
                                                                            <strong style="color:#449d44;font-size:32px;" class="no-break">
                                                                                 5000</strong>
                                                                        </p>
                                                                    </div>
                                                                    <ul class="list-group text-center">
                                                                        <li class="list-group-item">
                                                                             40 Student Contact Views</li>
                                                                        <li class="list-group-item">
                                                                            
                                                                            <strong>Validity:</strong> 180 days</li>
                                                                        <li class="list-group-item">
                                                                                                                                                         <strong>Response:</strong> X 7 times</li>
                                                                        <li class="list-group-item">
                                                                            <!-- <i class="fa fa-check"></i> -->
                                                                            <div class="no-break">
                                                                                <div class="glyphicon glyphicon-ok"></div>Suggested Tutor Tag</div>
                                                                        </li>
                                                                        <li class="list-group-item">
                                                                            <!-- <i class="fa fa-check"></i> -->
                                                                            <div class="no-break">
                                                                                <div class="glyphicon glyphicon-ok"></div>15 Minutes early notification</div>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="panel-footer">
                                                                        <a class="btn btn-lg btn-block btn-success" href="payment.jsp?amt=5000&tut_id=10868">BUY NOW</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /item -->

                                                        </div>
                                                    </div>


                                                </section>
                                                <!-- /Plans -->

                                            </div>
                                            <div class="modal-footer" style="text-align:center;background:#eee;">
                                                Need Help? Call
                                                <strong style="color:#008bcf">7065-8065-65</strong> Mon to Sat, 10am to 7pm or Mail us
                                                <strong style="color:#008bcf">info@gharpeshiksha.com</strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>

    
    </div>
    <!--copy rights end here-->

    <!-- The Modal -->
    <div class="modal fade" id="messageModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#afafaf">
                    <h4 class="modal-title" style="color:#fff">Send to a friend</h4>
                    <button type="button" class="close" data-dismiss="modal" style="margin-top:-20px">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="friendNumber">
                                    Enter Number
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Numbers" id="friendNumber" maxlength="10" pattern="[6789][0-9]{9}" placeholder="Enter a valid Number">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">SEND</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>



        </div>
    </div>
    </div>
    <!--modal end-->

    <!--modal two-->
    <!-- The Modal -->
    <div class="modal fade" id="emailModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#afafaf">
                    <h4 class="modal-title" style="color:#fff">Send to a friend</h4>
                    <button type="button" class="close" data-dismiss="modal" style="margin-top:-20px">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="friendNumber">
                                    Your Name
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Numbers" id="friendNumber" placeholder="e.g: Mukesh">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="friendNumber">
                                    Send To
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Numbers" id="friendNumber" placeholder="abc@gmailcom">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="friendNumber">
                                    Your Note
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" col="160"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">SEND</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>



        </div>
    </div>
    </div>
    <!--modal end-->
    <!--tooltip js-->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>



</body>

</html>